@-webkit-keyFrames start {
	0% {
		background: rgba(255, 255, 255, 1)
	}
	100% {
		background: rgba(255, 255, 255, 0.7)
	}
}

html {
	font-size: 100px;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.nav {
	width: 100%;
	height: 0.55rem;
	background: #42474B;
	position: fixed;
	top: -0.55rem;
	z-index: 1;
}

#main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.show {
	width: 100%;
	position: absolute;
	text-align: center;
}

section {
	width: 100%;
	overflow: hidden;
}

.welcome {
	min-width: 0.5rem;
	color: white;
}

.mask {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
}

.animate {
	-webkit-animation: start ease 5s forwards;
}

.mask span {
	font-size: 0.22rem;
	font-style: italic;
	font-family: 'Georgia', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.mask p {
	width: 100%;
	height: 100%;
	font-style: normal;
	color: rgb(21, 21, 21);
	font-size: 0.22rem;
}

.home {
	background: linear-gradient(to bottom, #4ECDC4 0, #19B5FE 100%);
}

.skill {
	background: linear-gradient(to bottom, #ED6461 0, #3F80E9 100%);
}

.experience {
	background: linear-gradient(to bottom, #26B1B6 0, #2DCB70 100%);
}

.endpage {
	background: linear-gradient(to bottom, #F88E8B 0, #EF5C4C 100%);
}