@-webkit-keyFrames start {
	0% {
		background: rgba(255, 255, 255, 1)
	}
	100% {
		background: rgba(255, 255, 255, 0.7)
	}
}

@-moz-keyFrames start {
	0% {
		background: rgba(255, 255, 255, 1)
	}
	100% {
		background: rgba(255, 255, 255, 0.7)
	}
}

@-webkit-keyFrames dis {
	0% {
		background: rgba(255, 255, 255, 0.7)
	}
	100% {
		background: rgba(255, 255, 255, 0)
	}
}

@-moz-keyFrames dis {
	0% {
		background: rgba(255, 255, 255, 0.7)
	}
	100% {
		background: rgba(255, 255, 255, 0)
	}
}

@-webkit-keyFrames _dis {
	0% {
		background: rgba(255, 255, 255, 0)
	}
	100% {
		background: rgba(255, 255, 255, 0.7)
	}
}

@-moz-keyFrames _dis {
	0% {
		background: rgba(255, 255, 255, 0)
	}
	100% {
		background: rgba(255, 255, 255, 0.7)
	}
}

html {
	font-size: 100px;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility:hidden;
}
._loa{
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	z-index: 1000;
	display: none;
}
.nav {
	width: 100%;
	height: 0.55rem;
	background: #42474B;
	position: fixed;
	top: -0.55rem;
	z-index: 1;
}

.nav-content {
	width: 85%;
	height: 100%;
	margin: 0 auto;
}

.logo {
	background: url(../img/logo.png) no-repeat;
	background-size: cover;
	width: 0.35rem;
	height: 0.35rem;
	margin-top: 0.1rem;
	float: left;
	cursor: pointer;
}

.list {
	float: right;
	margin-top: 0.16rem;
	margin-right: 3%;
}

.list li {
	float: left;
	font-size: 0.15rem;
	color: white;
	width: 1rem;
	cursor: pointer;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	-ms-transition: ease 0.2s;
	
}

.list li:hover {
	color: #666666;
}

.icon-menu {
	position: fixed;
	right: 0.2em;
	top: 0.14em;
	background: rgba(255, 255, 255, 0.8);
	width: 0.3em;
	height: 0.27em;
	border-radius: 0.02rem;
	z-index: 2;
	display: none;
}

#main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.show {
	width: 100%;
	position: absolute;
	text-align: center;
	overflow: hidden;
}

section {
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.welcome {
	min-width: 0.5rem;
	color: white;

}

.mask {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	overflow: hidden;
	text-align: center;
	-webkit-transition: ease 1.8s;
	-moz-transition: ease 1.8s;
	-ms-transition: ease 1.8s;
	
}

.animate {
	-webkit-animation: start ease 5s forwards;
	-moz-animation: start ease 5s forwards;
}

.mask span {
	font-style: italic;
	font-family: 'Georgia', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.icon-menu span {
	display: block;
	width: 0.2rem;
	height: 0.02rem;
	background: #151515;
	opacity: 0.6;
	margin: 0.0525rem auto 0 auto;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	
}

.mask p {
	width: 100%;
	height: 100%;
	font-style: normal;
	color: rgb(21, 21, 21);
	font-size: 0.22rem;
	line-height: 0.5rem;
}

.welcom-word {
	display: inline-block;
	width: 80%;
	text-align: center;
	opacity: 0;
}

.introduce {
	background: linear-gradient(to bottom, #1889C5 0, #8DB6CD 100%);
	-ms-background: linear-gradient(to bottom, #1889C5 0, #8DB6CD 100%);
	-moz-background: linear-gradient(to bottom, #1889C5 0, #8DB6CD 100%);
	-o-background: linear-gradient(to bottom, #1889C5 0, #8DB6CD 100%);
}

.skill {
	background: linear-gradient(to bottom, #4ECDC4 0, #19B5FE 100%);
	-ms-background: linear-gradient(to bottom, #4ECDC4 0, #19B5FE 100%);
	-moz-background: linear-gradient(to bottom, #4ECDC4 0, #19B5FE 100%);
	-o-background: linear-gradient(to bottom, #4ECDC4 0, #19B5FE 100%);
}

.experience {
	background: linear-gradient(to bottom, #26B1B6 0, #2DCB70 100%);
	-moz-background: linear-gradient(to bottom, #26B1B6 0, #2DCB70 100%);
	-ms-background: linear-gradient(to bottom, #26B1B6 0, #2DCB70 100%);
	-o-background: linear-gradient(to bottom, #26B1B6 0, #2DCB70 100%);
	
}

.endpage {
	background: linear-gradient(to bottom, #26B1B6 0, #129DE7 100%);
	-ms-background: linear-gradient(to bottom, #26B1B6 0, #129DE7 100%);
	-moz-background: linear-gradient(to bottom, #26B1B6 0, #129DE7 100%);
	-o-background: linear-gradient(to bottom, #26B1B6 0, #129DE7 100%);
	
}

.icon-menu:hover span {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.icon-menu:hover .icon-f {
	width: 0.15rem;
	-webkit-transform: translateX(-0.04rem) translateY(0.07rem) rotateZ(45deg);
	-moz-transform: translateX(-0.04rem) translateY(0.07rem) rotateZ(45deg);
	-ms-transform: translateX(-0.04rem) translateY(0.07rem) rotateZ(45deg);
	
}

.icon-menu:hover .icon-t {
	width: 0.15rem;
	-webkit-transform: translateX(-0.04rem) translateY(-0.07rem) rotateZ(-45deg);
	-moz-transform: translateX(-0.04rem) translateY(-0.07rem) rotateZ(-45deg);
	-ms-transform: translateX(-0.04rem) translateY(-0.07rem) rotateZ(-45deg);
	
}


/*侧边栏*/

.sliderbar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: #151515;
	width: 3rem;
	z-index: 1;
	right: -3rem;
}

.back {
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.back span {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 0.3rem;
	height: 0.02rem;
	background: #ccc;
}

.back-f {
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
}

.back-s {
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
}


/*侧边栏主体*/

.slider-list {
	width: 80%;
	margin: 1rem auto;
	font-size: 0.16rem;
}

.slider-list li {
	margin-top: 0.3rem;
	color: #666;
	cursor: pointer;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	border-left: 2px solid transparent;
	padding-left:0.2rem ;

}

.slider-list li:hover {
	color: white;
	border-left-color: white;
}



/*自我介绍页主体*/
.introduce-content{
	margin:0.55rem auto;
	display: inline-block;
<<<<<<< HEAD
	max-width: 8rem;
=======
	
>>>>>>> origin/gh-pages
}
.head-img{
	width: 100%;
	height: 1.2rem;
	/*background: red;*/
	text-align: center;
}
.img{
	display: inline-block;
	width: 2.38rem;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
.int{
	padding-top: 10%;
	font-size: 0.15rem;
	padding-left: 5%;
	text-align: left;
	color: white;
}
.int li{
	margin-bottom: 0.15rem;
}
.int li a {
	text-decoration: none;
	color: white;
}
.int li span{
	display: inline-block;
	margin-left: 0;
	text-align:right;
	width: 0.6rem;
	height: 0.2rem;
}
.introduce-content-left{
	width: 55%;
	float: left;
	/*background: cyan;*/
}
	
.introduce-content-right{
	text-indent: 0.32rem;
	width: 35%;
	float: right;
	/*background: green;*/
}
/*技能页内部样式*/
<<<<<<< HEAD
.skill-content{
	background: rgba(232,231,225,.62);
	position: absolute;
	transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
	-moz-transition:1s ease-in-out；
	-o-transition:1s ease-in-out;
	min-height: 4rem;
}

.skill-content h2{
	font-size: 0.46rem;
	font-family:"Microsoft YaHei";
	color: white;
}
=======
.skill-banner{
	width: 60%;
	height: 60%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: rgba(232,231,225,.82);
}


>>>>>>> origin/gh-pages

/*响应式*/
@media only screen and (max-width: 800px) {
	.introduce-content{
		width: 6rem;
	}
}
@media only screen and (max-width: 640px) {
	html {
		font-size: 80px;
	}
	.icon-menu {
		display: block;
	}
	.list {
		display: none;
	}
	.logo {
		position: fixed;
		top: 0.02rem;
	}
}

@media only screen and (max-width: 490px) {
	.introduce-content{
		width: 4rem;
		margin-top: 0.55rem;
	}
	.introduce-content-left{
		padding-top: 0.1rem;
<<<<<<< HEAD
        margin-top:-0.3rem; 

        
=======
>>>>>>> origin/gh-pages
	}
	.introduce-content-left li{
		width: 2.5rem;
		margin: 0 auto;
	}
	.introduce-content-right{
		padding-top: 0;
<<<<<<< HEAD
		margin-top: -0.2frem;

=======
		margin-top: -0.03rem;
>>>>>>> origin/gh-pages
	}
	.int{
		width: 60%;
		float: none;
		display: inline-block;
}
.int li{
		margin-bottom: 0;
}
<<<<<<< HEAD
.img{
	transform: scale(0.6);
    -moz-transform:scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
}

=======
>>>>>>> origin/gh-pages

}